@import "../../assets/styles/variables";

.form {
    &-control {
        &.ng-touched.ng-invalid {
            border: 2px solid $red;
        }
    }
}

.lead {
    font-size: 1.4rem;
}

#progressbar {
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    color: $lightGray;

    .active {
        color: $black;
    }

    li {
        list-style-type: none;
        width: 33.3%;
        float: left;
        position: relative;
    }

    #veri:before {
        font-family: FontAwesome;
        content: "\f4fc";
    }

    #reg:before {
        font-family: FontAwesome;
        content: "\f53c";
    }
    
    #conf:before {
        font-family: FontAwesome;
        content: "\f00c";
    }
    
    li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: $white;
        background: $lightGray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }
    
    li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: $lightGray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
    }
}








#progressbar li.active:before,
#progressbar li.active:after {
    background: $brand-red;
}