<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="mb-5">Registration</h1>
        <ul id="progressbar">
            <li class="active text-center" id="veri"><span>Verification</span></li>
            <li class="text-center" id="reg"><span>Registration</span></li>
            <li class="text-center" id="conf"><span>Confirmation</span></li>
        </ul>
        <p class="lead mb-5">For verification purposes please enter your details below and click "Next".</p>

        <form #userForm="ngForm" (ngSubmit)="submit(userForm)">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="title">Title</label>
                    <input (change)="log(title)" required ngModel type="text" class="form-control" #title="ngModel"
                        name="title" id="title">
                    <div class="text-danger" *ngIf="title.touched && !title.valid">Title is required
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label for="givenName">Given Name</label>
                    <input required ngModel type="text" class="form-control" #givenName="ngModel" name="givenName"
                        id="givenName">
                    <div class="text-danger" *ngIf="givenName.touched && !givenName.valid">Given name is required
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label for="lastName">Last Name</label>
                    <input required ngModel type="text" class="form-control" #lastName="ngModel" name="lastName"
                        id="lastName">
                    <div class="text-danger" *ngIf="lastName.touched && !lastName.valid">Last name is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDay">Date of Birth</label>
                <input required ngModel type="date" class="form-control" #birthDay="ngModel" name="birthDay"
                    id="birthDay">
                <div class="text-danger" *ngIf="birthDay.touched && !birthDay.valid">Date of Birth is required
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input required ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" type="email"
                        class="form-control" #email="ngModel" name="email" id="email">
                    <div class="text-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors?.required" class="text-danger">Email address is required</div>
                        <div *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="mobile">Mobile</label>
                    <input required ngModel type="tel" class="form-control" #mobile="ngModel" name="mobile" id="mobile">
                    <div class="text-danger" *ngIf="mobile.touched && !mobile.valid">Mobile is required
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center my-3">
                <button type="submit" class="btn btn-lg btn-primary btn-primary-ords px-5 py-2">Next <i
                        class="fas fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
</div>