<nav class="navbar navbar-dark bg-dark bg-dark-ords fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img class="brand" src="assets/images/ord-minnett-logo.png" alt="">
        </a>
    </div>
</nav>