<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">© 2021 Ord Minnett Pty Ltd.
                        All rights reserved.</a>
                </li>
            </ul>
        </div>
    </div>
</nav>