<ul id="progressbar">
    <li class="active" id="account"><strong>Verification</strong></li>
    <li id="personal"><strong>Registration</strong></li>
    <li id="payment"><strong>Confirmation</strong></li>
    <li id="confirm"><strong>Finish</strong></li>
</ul>