
#progressbar {
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    color: lightgrey;

    .active {
        color: #000000
    }

    li {
        list-style-type: none;
        font-size: 12px;
        width: 25%;
        float: left;
        position: relative;

         strong {
            padding-left: 4rem;
        }
    }
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
    padding-left: 16px;
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
    padding-left: 16px;
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
    padding-left: 16px;
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
    padding-left: 16px;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue;
}