.btn {
    &-primary {
        &-ords {
            background-color: $brand-blue;
        }
    }
}

.bg {
    &-dark {
        &-ords {
            background-color: $brand-blue !important;
        }
    }
}

label {
    margin-bottom: 0.25rem;
}