$red : #dc3545; //error alerts
$black: #000000;
$white: #ffffff;
$lightGray: #d3d3d3;

$brand-blue: #002A45;
$brand-red: #C1371E;

$headingFontFamily: 'Open Sans', sans-serif;
$bodyFontFamily: 'Roboto', sans-serif;