<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="mb-5">Welcome to Ords!</h1>
        <p>Clients can register for online access by clicking on the “Register” button available from the company’s
            website. Once the button is clicked, the client will be taken to the registration page which will be split
            into 3 steps/screens</p>
        <div class="mx-auto text-center my-5">
            <a routerLink="/register" class="btn btn-lg btn-primary btn-primary-ords">Register Here</a>
        </div>
    </div>
</div>